@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    background-color: darkgray;
    min-height: 100vh;
    padding: 5px;
}

.blocos {
    background-color: white;
    border: solid 2px black;
    padding: 15px;

    display: flex;
    align-items: center;
}

.paragraph {
    font-size: 1.3em;
}