@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#corpo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
    gap: 10px;

    grid-template-areas: 
    "item-1 item-1 item-1" 
    "item-2 item-2 item-3" 
    "item-2 item-2 item-4" 
    "item-5 item-5 item-5" 
    "item-5 item-5 item-5"
    "item-6 item-7 item-7"
    "item-8 item-7 item-7" 
    "item-9 item-9 item-9";

    background-color: darkgray;
    font-size: 1.2em;
    min-height: 100vh;
}

.blocos {
    display: grid;
    background-color: white;
    border: 2px solid black;    
    padding: 6px;
}

#item1 {
    grid-area: item-1;
}
#item2 {
    grid-area: item-2;
}
#item3 {
    grid-area: item-3;
}
#item4 {
    grid-area: item-4;
}
#item5 {
    grid-area: item-5;
}
#item6 {
    grid-area: item-6;
}
#item7 {
    grid-area: item-7;
}
#item8 {
    grid-area: item-8;
}
#item9 {
    grid-area: item-9;
}